extends ./_layout

block main
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                include section/index/intro

            -
                var represents = [
                    {
                        class: 'first',
                        imgBig: '/assets/images/represent/λ¬΄ν•_big.png',
                        imgMiddle: '/assets/images/represent/λ¬΄ν•_middle.png',
                        imgSmall: '/assets/images/represent/λ¬΄ν•_small.png',
                        mobileTitle:'2013λ…„ μ„μΈμ‹ λ¬΄ν• λ¬Έν™”μ¬',
                        title: 'μ„μΈμ‹ λ¬΄ν• λ¬Έν™”μ¬',
                        time: '2013λ…„ 5μ›” 14μΌ - 7μ›” 14μΌ',
                        place: 'μ΄νƒλ¦¬ λ΅λ§ κµ­λ¦½ λ™μ–‘ λ―Όμ† λ°•λ¬Όκ΄€',
                        cooperation: 'μ„μΈμ‹, μ„μΈμ‹ λ¬΄ν•λ¬Έν™”μ¬λ‹¨, λ¬Έν™”κ΄€κ΄‘ μ²΄μ΅λ¶€, μ΄νƒλ¦¬ λ¬Έν™”κ΄€κ΄‘λ¶€, μ£Όν• μ΄νƒλ¦¬μ•„ λ€μ‚¬κ΄€',
                    },
                    {
                        class: 'second',
                        imgBig: '/assets/images/represent/ν•μ§€_big.png',
                        imgMiddle: '/assets/images/represent/ν•μ§€_middle.png',
                        imgSmall: '/assets/images/represent/ν•μ§€_small.png',
                        mobileTitle:'2011λ…„ ν•μ§€ μ „μ‹ν',
                        title: 'ν•μ§€ μ „μ‹ν',
                        time: '2011λ…„ 6μ›” 9μΌ - 8μ›” 7μΌ',
                        place: 'μ΄νƒλ¦¬ κµ­λ¦½ λ―Όμ† λ°•λ¬Όκ΄€',
                        cooperation: 'μ›μ£Ό ν•μ§€κ°λ°μ›, μ›μ£Ό ν•μ§€ν…λ§νν¬, μ›μ£Όμ‹, κ°•μ›λ„, μ£Όν• μ΄νƒλ¦¬μ•„ λ€μ‚¬κ΄€',
                    },
                    {
                        class: 'third',
                        imgBig: '/assets/images/represent/λ‚μ „_big.png',
                        imgMiddle: '/assets/images/represent/λ‚μ „_middle.png',
                        imgSmall: '/assets/images/represent/λ‚μ „_small.png',
                        mobileTitle:'2010λ…„ ν•κµ­μ λ‚μ „κ³Ό μΉ μμ „',
                        title: 'ν•κµ­μ λ‚μ „κ³Ό μΉ μμ „',
                        time: '2010λ…„ 4μ›” 8μΌ - 5μ›” 12μΌ',
                        place: 'μ΄νƒλ¦¬ λ―Όμ†λ°•λ¬Όκ΄€',
                        cooperation: 'λ¬Έν™”μ¬μ²­, μ£Όν• μ΄νƒλ¦¬μ•„ λ€μ‚¬κ΄€, μ™Έκµν†µμƒλ¶€, μ΄νƒλ¦¬μ•„ λ¬Έν™”λ¶€',
                    },
                    {
                        class: 'fourth',
                        imgBig: '/assets/images/represent/μ²­μ_big.png',
                        imgMiddle: '/assets/images/represent/μ²­μ_middle.png',
                        imgSmall: '/assets/images/represent/μ²­μ_small.png',
                        mobileTitle:'2009λ…„ κ°•μ§„κ³ λ ¤μ²­μ μ λ½μνμ „',
                        title: 'κ°•μ§„κ³ λ ¤μ²­μ μ λ½μνμ „',
                        time: '2009λ…„ 4μ›” 25μΌ - 5μ›” 6μΌ',
                        place: 'λ΅λ§ κµ­λ¦½ λ™μ–‘ λ°•λ¬Όκ΄€',
                        cooperation: 'μ΄νƒλ¦¬μ•„ λ¬Έν™”λ¶€, μ™Έκµν†µμƒλ¶€',
                    },
                    {
                        class: 'fifth',
                        imgBig: '/assets/images/represent/λ§¤λ“­_big.png',
                        imgMiddle: '/assets/images/represent/λ§¤λ“­_middle.png',
                        imgSmall: '/assets/images/represent/λ§¤λ“­_small.png',
                        mobileTitle:'2009λ…„ ν•κµ­μ λ§¤λ“­μ „',
                        title: 'ν•κµ­μ λ§¤λ“­μ „',
                        time: '2009λ…„ 5μ›” 12μΌ - 6μ›” 12μΌ',
                        place: 'λ΅λ§ κµ­λ¦½ λ™μ–‘ λ°•λ¬Όκ΄€',
                        cooperation: 'λ¬Έν™”μ²΄μ΅κ΄€κ΄‘λ¶€, μ™Έκµν†µμƒλ¶€, ν•κµ­ κ³µμλ¬Έν™” μ§„ν¥μ›, μ£Όν• μ΄νƒλ¦¬μ•„ λ€μ‚¬κ΄€',
                    },
                ]
            each v, i in represents
                .swiper-slide
                    section.represent(class=`${v.class}-0${i+1}`)
                        article.wrap
                            figure.image-box(class=`${v.class}`)
                                img(src=`${v.imgBig}`, alt="")
                            .content-box
                                .mobile
                                    .title= v.mobileTitle
                                .desktop
                                    .title= v.title
                                    .time κΈ°κ°„
                                        span= v.time
                                    .place μ¥μ†
                                        span= v.place
                                    .cooperation 
                                        p ν‘λ ¥κΈ°κ΄€
                                        span= v.cooperation
                                .more more
                                    img(src="/assets/images/icons/arrow.png", alt="")

            .swiper-slide
                section.profile
                    .wrap
                        h3 μ •μκ²½ (Jeong Yea-kyung) 
                            span λ€ν‘
                        .academy -
                            p λ€μ „ λ©μ›λ€ν•™κµ μμ•…κµμ΅κ³Ό μ΅Έμ—…
                            p κ³µμ£Όμ‚¬λ²”λ€ν•™ κµμ΅λ€ν•™μ› μ΅Έμ—…
                            p λ΅λ§ A.I.D.M μ•„μΉ΄λ°λ―Έ / A.R.M μ•„μΉ΄λ°λ―Έ / A.R.T μ•„μΉ΄λ°λ―Έ λ””ν”λ΅λ§ [μ„±μ•…, μ§€ν]
                        .before - ε‰
                            p 2008 - 2013 | μ£Ό μ΄νƒλ¦¬μ•„ ν•μΈν λ¬Έν™”μμ μ„μ›μ¥
                            p 2010 | λ€ λ°±μ  λ¬Έν™”μ¬ ν™λ³΄λ€μ‚¬
                            p 2010 - 2018 | μ›μ£Ό ν•μ§€ ν™λ³΄λ€μ‚¬
                                span.comment [μ›μ£Ό ν•μ§€ ν…λ§νν¬μ™€ μ΄νƒλ¦¬ νλΈλ¦¬μ•„λ…Έ λ°•λ¬Όκ΄€ MOU μ²΄κ²°]
                            p 2012 | μμ² μ •μ› μ—‘μ¤ν¬ ν™λ³΄λ€μ‚¬
                            p 2013 - 2014 | λ¬Έν™”κ΄€κ΄‘λ¶€κΈ°ν λ°€λΌλ…Έ νΈλ¦¬μ—”λ‚ λ  λ®¤μ§€μ—„ μ „μ‹ κΈ°νμμ›
                        .now - ηΎ
                            p K.A.E(μΉ΄μ—) Korean Art in Europe λ€ν‘
                            p κµ­λ‚΄ μ™Έ μ „μ‹ κ³µμ—°κΈ°ν
                        .more more
                            img(src="/assets/images/icons/arrow.png", alt="")
                    .footer
                        | β“’ Korean art in europe. All rights reserved.
                    
        .swiper-pagination