extends ./_layout

block main
    //- include layout/index-header
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                include section/index/intro

            -
                var represents = [
                    {
                        // Head font color - white
                        class: 'hanji-fashion-2019',
                        imgBig: '/assets/images/represent/hanji-fashion-2019.png',
                        mobileTitle:'2019 íŒŒë¸Œë¦¬ì•„ë…¸ì‹œ í•œì§€ íŒ¨ì…˜ì‡¼',
                        title: 'ì„¸ê³„ ì°½ì˜ì  ìœ ë„¤ìŠ¤ì½” íšŒì˜ ì´íƒˆë¦¬ì•„ íŒŒë¸Œë¦¬ì•„ë…¸ì‹œ ì´ˆì²­ ì›ì£¼ í•œì§€ íŒ¨ì…˜ì‡¼',
                        time: '2019ë…„ 6ì›” 14ì¼',
                        place: 'ì´íƒœë¦¬ íŒŒë¸Œë¦¬ì•„ë…¸ì‹œ (Piazza di comune)',
                        cooperation: 'ì›ì£¼ì‹œ, ê°•ì›ë„ ,íŒŒë¸Œë¦¬ì•„ë…¸ì‹œ, ìœ ë„¤ìŠ¤ì½” íšŒì˜ ë³¸ë¶€, íŒŒë¸Œë¦¬ì•„ë…¸ ì¢…ì´ ë°•ë¬¼ê´€',
                        link: '/html/italy/hanji-fashion-2019.html',
                    },
                    {
                        // Head font color - white
                        class: 'hanji-2019',
                        imgBig: '/assets/images/represent/hanji-2019.png',
                        mobileTitle:'íŒŒë¸Œë¦¬ì•„ë…¸ ì¢…ì´ ë°•ë¬¼ê´€ í•œì§€ ì „ì‹œíšŒ',
                        title: 'ì´íƒˆë¦¬ì•„ íŒŒë¸Œë¦¬ì•„ë…¸ ì¢…ì´ ë°•ë¬¼ê´€ ì´ˆì²­ ì›ì£¼ í•œì§€ ì „ì‹œíšŒ',
                        time: '2019ë…„ 6ì›” 10ì¼ - 8ì›” 31ì¼',
                        place: 'íŒŒë¸Œë¦¬ì•„ë…¸ ì¢…ì´ ë°•ë¬¼ê´€',
                        cooperation: 'ì›ì£¼ì‹œ, ê°•ì›ë„, íŒŒë¸Œë¦¬ì•„ë…¸ì‹œ, ìœ ë„¤ìŠ¤ì½” íšŒì˜ ë³¸ë¶€, íŒŒë¸Œë¦¬ì•„ë…¸ ë°•ë¬¼ê´€',
                        link: '/html/italy/hanji-2019.html',
                    },
                    {
                        // Head font color - white
                        class: 'conference',
                        imgBig: '/assets/images/represent/conference.png',
                        mobileTitle:'ë¡œë§ˆ ê¸°ë¡ ìœ ì‚°ë³´ì¡´ ì—°êµ¬ì†Œ ì›ì£¼ í•œì§€ í•™ìˆ í–‰ì‚¬',
                        title: 'ë¡œë§ˆ ê¸°ë¡ ìœ ì‚°ë³´ì¡´ ì—°êµ¬ì†Œ ì›ì£¼ í•œì§€ í•™ìˆ í–‰ì‚¬',
                        time: '2014ë…„ 6ì›” 11ì¼',
                        place: 'ë¡œë§ˆ ê¸°ë¡ ìœ ì‚°ë³´ì¡´ ì—°êµ¬ì†Œ (ICPAL)',
                        cooperation: 'ì›ì£¼ì‹œ, ê°•ì›ë„, ICPAL, ì´íƒˆë¦¬ì•„ ë¬¸í™”ë¶€',
                        link: '/html/italy/conference.html',
                    },
                    {
                        // Head font color - black
                        class: 'triennale-2014',
                        imgBig: '/assets/images/represent/triennale-2014.png',
                        mobileTitle:'2014 ë°€ë¼ë…¸ íŠ¸ë¦¬ì—”ë‚ ë ˆ ë®¤ì§€ì—„',
                        title: '2014 ë°€ë¼ë…¸ íŠ¸ë¦¬ì—”ë‚ ë ˆ ë®¤ì§€ì—„ í•œêµ­ê´€ ì „ì‹œ [ê¸°íšì˜ì›]',
                        time: '2014ë…„ 4ì›” 8ì¼ - 4ì›” 13ì¼',
                        place: 'ì´íƒœë¦¬ ë°€ë¼ë…¸ íŠ¸ë¦¬ì—”ë‚ ë ˆ ë®¤ì§€ì—„',
                        cooperation: 'ë¬¸í™”ê´€ê´‘ ì²´ìœ¡ë¶€, ì£¼ì´íƒˆë¦¬ì•„ ëŒ€ì‚¬ê´€',
                        link: '/html/italy/triennale-2014.html',
                    },
                    {
                        // Head font color - black
                        class: 'triennale-2013',
                        imgBig: '/assets/images/represent/triennale-2013.png',
                        mobileTitle:'2013 ë°€ë¼ë…¸ íŠ¸ë¦¬ì—”ë‚ ë ˆ ë®¤ì§€ì—„',
                        title: '2013 ë°€ë¼ë…¸ íŠ¸ë¦¬ì—”ë‚ ë ˆ ë®¤ì§€ì—„ í•œêµ­ê´€ ì „ì‹œ [ê¸°íšì˜ì›]',
                        time: '2013ë…„ 4ì›” 9ì¼ - 4ì›” 14ì¼',
                        place: 'ì´íƒœë¦¬ ë°€ë¼ë…¸ íŠ¸ë¦¬ì—”ë‚ ë ˆ ë®¤ì§€ì—„',
                        cooperation: 'ë¬¸í™”ê´€ê´‘ ì²´ìœ¡ë¶€, ì£¼ì´íƒˆë¦¬ì•„ ëŒ€ì‚¬ê´€',
                        link: '/html/italy/triennale-2013.html',
                    },
                    {
                        // Head font color - white
                        class: 'muhyoung',
                        imgBig: '/assets/images/represent/muhyoung_big.png',
                        imgMiddle: '/assets/images/represent/muhyoung_middle.png',
                        imgSmall: '/assets/images/represent/muhyoung_small.png',
                        mobileTitle:'2013ë…„ ì„œìš¸ì‹œ ë¬´í˜• ë¬¸í™”ì¬',
                        title: 'ì„œìš¸ì‹œ ë¬´í˜• ë¬¸í™”ì¬',
                        time: '2013ë…„ 5ì›” 14ì¼ - 7ì›” 14ì¼',
                        place: 'ì´íƒœë¦¬ ë¡œë§ˆ êµ­ë¦½ ë™ì–‘ ë¯¼ì† ë°•ë¬¼ê´€',
                        cooperation: 'ì„œìš¸ì‹œ, ì„œìš¸ì‹œ ë¬´í˜•ë¬¸í™”ì¬ë‹¨, ë¬¸í™”ê´€ê´‘ ì²´ìœ¡ë¶€, ì´íƒœë¦¬ ë¬¸í™”ê´€ê´‘ë¶€, ì£¼í•œ ì´íƒˆë¦¬ì•„ ëŒ€ì‚¬ê´€',
                        link: '/html/italy/muhyoung.html',
                    },
                    {
                        // Head font color - white
                        class: 'hanji-2011',
                        imgBig: '/assets/images/represent/hanji_big.png',
                        imgMiddle: '/assets/images/represent/hanji_middle.png',
                        imgSmall: '/assets/images/represent/hanji_small.png',
                        mobileTitle:'2011ë…„ í•œì§€ ì „ì‹œíšŒ',
                        title: 'í•œì§€ ì „ì‹œíšŒ',
                        time: '2011ë…„ 6ì›” 9ì¼ - 8ì›” 7ì¼',
                        place: 'ì´íƒœë¦¬ êµ­ë¦½ ë¯¼ì† ë°•ë¬¼ê´€',
                        cooperation: 'ì›ì£¼ í•œì§€ê°œë°œì›, ì›ì£¼ í•œì§€í…Œë§ˆíŒŒí¬, ì›ì£¼ì‹œ, ê°•ì›ë„, ì£¼í•œ ì´íƒˆë¦¬ì•„ ëŒ€ì‚¬ê´€',
                        link: '/html/italy/hanji-2011.html',
                    },
                    {
                        // Head font color - white
                        class: 'najeon',
                        imgBig: '/assets/images/represent/najeon_big.png',
                        imgMiddle: '/assets/images/represent/najeon_middle.png',
                        imgSmall: '/assets/images/represent/najeon_small.png',
                        mobileTitle:'2010ë…„ í•œêµ­ì˜ ë‚˜ì „ê³¼ ì¹ ì˜ˆì „',
                        title: 'í•œêµ­ì˜ ë‚˜ì „ê³¼ ì¹ ì˜ˆì „',
                        time: '2010ë…„ 4ì›” 8ì¼ - 5ì›” 12ì¼',
                        place: 'ì´íƒœë¦¬ ë¯¼ì†ë°•ë¬¼ê´€',
                        cooperation: 'ë¬¸í™”ì¬ì²­, ì£¼í•œ ì´íƒˆë¦¬ì•„ ëŒ€ì‚¬ê´€, ì™¸êµí†µìƒë¶€, ì´íƒˆë¦¬ì•„ ë¬¸í™”ë¶€',
                        link: '/html/italy/najeon.html',
                    },
                    {
                        // Head font color - black
                        class: 'cheongja',
                        imgBig: '/assets/images/represent/cheongja_big.png',
                        imgMiddle: '/assets/images/represent/cheongja_middle.png',
                        imgSmall: '/assets/images/represent/cheongja_small.png',
                        mobileTitle:'2009ë…„ ê°•ì§„ê³ ë ¤ì²­ì ìœ ëŸ½ìˆœíšŒì „',
                        title: 'ê°•ì§„ê³ ë ¤ì²­ì ìœ ëŸ½ìˆœíšŒì „',
                        time: '2009ë…„ 4ì›” 25ì¼ - 5ì›” 6ì¼',
                        place: 'ë¡œë§ˆ êµ­ë¦½ ë™ì–‘ ë°•ë¬¼ê´€',
                        cooperation: 'ì´íƒˆë¦¬ì•„ ë¬¸í™”ë¶€, ì™¸êµí†µìƒë¶€',
                        link: '/html/italy/cheongja.html',
                    },
                    {
                        // Head font color - white
                        class: 'maedeup',
                        imgBig: '/assets/images/represent/maedeup_big.png',
                        imgMiddle: '/assets/images/represent/maedeup_middle.png',
                        imgSmall: '/assets/images/represent/maedeup_small.png',
                        mobileTitle:'2009ë…„ í•œêµ­ì˜ ë§¤ë“­ì „',
                        title: 'í•œêµ­ì˜ ë§¤ë“­ì „',
                        time: '2009ë…„ 5ì›” 12ì¼ - 6ì›” 12ì¼',
                        place: 'ë¡œë§ˆ êµ­ë¦½ ë™ì–‘ ë°•ë¬¼ê´€',
                        cooperation: 'ë¬¸í™”ì²´ìœ¡ê´€ê´‘ë¶€, ì™¸êµí†µìƒë¶€, í•œêµ­ ê³µì˜ˆë¬¸í™” ì§„í¥ì›, ì£¼í•œ ì´íƒˆë¦¬ì•„ ëŒ€ì‚¬ê´€',
                        link: '/html/italy/maedeup.html',
                    },
                ]
            each v, i in represents
                .swiper-slide
                    section.represent(class=`${v.class}`)
                        article.wrap
                            figure.image-box(class=`${v.class}`)
                                img(src=`${v.imgBig}`, alt="")
                            .content-box
                                .mobile
                                    .title= v.mobileTitle
                                .desktop
                                    .title= v.title
                                    .time ê¸°ê°„
                                        span= v.time
                                    .place ì¥ì†Œ
                                        span= v.place
                                    .cooperation 
                                        p í˜‘ë ¥ê¸°ê´€
                                        span= v.cooperation
                                a(href=`${v.link}`)
                                    .more MORE
                                        img(src="/assets/images/icons/arrow.png", alt="")

            .swiper-slide
                include section/index/profile
        .swiper-pagination