extends ./_layout

block main
    //- include layout/index-header
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                include section/index/intro

            -
                var represents = [
                    {
                        class: 'first',
                        imgBig: '/assets/images/represent/domus.png',
                        //- imgMiddle: '/assets/images/represent/muhyoung_middle.png',
                        //- imgSmall: '/assets/images/represent/muhyoung_small.png',
                        mobileTitle:'2014 ë°€ë¼ë…¸ íŠ¸ë¦¬ì—”ë‚ ë ˆ ë®¤ì§€ì—„',
                        title: '2014 ë°€ë¼ë…¸ íŠ¸ë¦¬ì—”ë‚ ë ˆ ë®¤ì§€ì—„ í•œêµ­ê´€ ì „ì‹œ [ê¸°íšì˜ì›]',
                        time: '2014ë…„ 4ì›” 8ì¼ - 4ì›” 13ì¼',
                        place: 'ì´íƒœë¦¬ ë°€ë¼ë…¸ íŠ¸ë¦¬ì—”ë‚ ë ˆ ë®¤ì§€ì—„',
                        cooperation: 'ë¬¸í™”ê´€ê´‘ ì²´ìœ¡ë¶€, ì£¼ì´íƒˆë¦¬ì•„ ëŒ€ì‚¬ê´€',
                        link: '/html/italy/2014.html',
                    },
                    {
                        class: 'second',
                        imgBig: '/assets/images/represent/2013.png',
                        mobileTitle:'2013 ë°€ë¼ë…¸ íŠ¸ë¦¬ì—”ë‚ ë ˆ ë®¤ì§€ì—„',
                        title: '2014 ë°€ë¼ë…¸ íŠ¸ë¦¬ì—”ë‚ ë ˆ ë®¤ì§€ì—„ í•œêµ­ê´€ ì „ì‹œ [ê¸°íšì˜ì›]',
                        time: '2013ë…„ 4ì›” 9ì¼ - 4ì›” 14ì¼',
                        place: 'ì´íƒœë¦¬ ë°€ë¼ë…¸ íŠ¸ë¦¬ì—”ë‚ ë ˆ ë®¤ì§€ì—„',
                        cooperation: 'ë¬¸í™”ê´€ê´‘ ì²´ìœ¡ë¶€, ì£¼ì´íƒˆë¦¬ì•„ ëŒ€ì‚¬ê´€',
                        link: '/html/italy/2013.html',
                    },
                    {
                        class: 'third',
                        imgBig: '/assets/images/represent/muhyoung_big.png',
                        imgMiddle: '/assets/images/represent/muhyoung_middle.png',
                        imgSmall: '/assets/images/represent/muhyoung_small.png',
                        mobileTitle:'2013ë…„ ì„œìš¸ì‹œ ë¬´í˜• ë¬¸í™”ì¬',
                        title: 'ì„œìš¸ì‹œ ë¬´í˜• ë¬¸í™”ì¬',
                        time: '2013ë…„ 5ì›” 14ì¼ - 7ì›” 14ì¼',
                        place: 'ì´íƒœë¦¬ ë¡œë§ˆ êµ­ë¦½ ë™ì–‘ ë¯¼ì† ë°•ë¬¼ê´€',
                        cooperation: 'ì„œìš¸ì‹œ, ì„œìš¸ì‹œ ë¬´í˜•ë¬¸í™”ì¬ë‹¨, ë¬¸í™”ê´€ê´‘ ì²´ìœ¡ë¶€, ì´íƒœë¦¬ ë¬¸í™”ê´€ê´‘ë¶€, ì£¼í•œ ì´íƒˆë¦¬ì•„ ëŒ€ì‚¬ê´€',
                        link: '/html/italy/muhyoung.html',
                    },
                    {
                        class: 'fourth',
                        imgBig: '/assets/images/represent/hanji_big.png',
                        imgMiddle: '/assets/images/represent/hanji_middle.png',
                        imgSmall: '/assets/images/represent/hanji_small.png',
                        mobileTitle:'2011ë…„ í•œì§€ ì „ì‹œíšŒ',
                        title: 'í•œì§€ ì „ì‹œíšŒ',
                        time: '2011ë…„ 6ì›” 9ì¼ - 8ì›” 7ì¼',
                        place: 'ì´íƒœë¦¬ êµ­ë¦½ ë¯¼ì† ë°•ë¬¼ê´€',
                        cooperation: 'ì›ì£¼ í•œì§€ê°œë°œì›, ì›ì£¼ í•œì§€í…Œë§ˆíŒŒí¬, ì›ì£¼ì‹œ, ê°•ì›ë„, ì£¼í•œ ì´íƒˆë¦¬ì•„ ëŒ€ì‚¬ê´€',
                        link: '/html/italy/hanji.html',
                    },
                    {
                        class: 'fifth',
                        imgBig: '/assets/images/represent/najeon_big.png',
                        imgMiddle: '/assets/images/represent/najeon_middle.png',
                        imgSmall: '/assets/images/represent/najeon_small.png',
                        mobileTitle:'2010ë…„ í•œêµ­ì˜ ë‚˜ì „ê³¼ ì¹ ì˜ˆì „',
                        title: 'í•œêµ­ì˜ ë‚˜ì „ê³¼ ì¹ ì˜ˆì „',
                        time: '2010ë…„ 4ì›” 8ì¼ - 5ì›” 12ì¼',
                        place: 'ì´íƒœë¦¬ ë¯¼ì†ë°•ë¬¼ê´€',
                        cooperation: 'ë¬¸í™”ì¬ì²­, ì£¼í•œ ì´íƒˆë¦¬ì•„ ëŒ€ì‚¬ê´€, ì™¸êµí†µìƒë¶€, ì´íƒˆë¦¬ì•„ ë¬¸í™”ë¶€',
                        link: '/html/italy/najeon.html',
                    },
                    {
                        class: 'sixth',
                        imgBig: '/assets/images/represent/cheongja_big.png',
                        imgMiddle: '/assets/images/represent/cheongja_middle.png',
                        imgSmall: '/assets/images/represent/cheongja_small.png',
                        mobileTitle:'2009ë…„ ê°•ì§„ê³ ë ¤ì²­ì ìœ ëŸ½ìˆœíšŒì „',
                        title: 'ê°•ì§„ê³ ë ¤ì²­ì ìœ ëŸ½ìˆœíšŒì „',
                        time: '2009ë…„ 4ì›” 25ì¼ - 5ì›” 6ì¼',
                        place: 'ë¡œë§ˆ êµ­ë¦½ ë™ì–‘ ë°•ë¬¼ê´€',
                        cooperation: 'ì´íƒˆë¦¬ì•„ ë¬¸í™”ë¶€, ì™¸êµí†µìƒë¶€',
                        link: '/html/italy/cheongja.html',
                    },
                    {
                        class: 'seventh',
                        imgBig: '/assets/images/represent/maedeup_big.png',
                        imgMiddle: '/assets/images/represent/maedeup_middle.png',
                        imgSmall: '/assets/images/represent/maedeup_small.png',
                        mobileTitle:'2009ë…„ í•œêµ­ì˜ ë§¤ë“­ì „',
                        title: 'í•œêµ­ì˜ ë§¤ë“­ì „',
                        time: '2009ë…„ 5ì›” 12ì¼ - 6ì›” 12ì¼',
                        place: 'ë¡œë§ˆ êµ­ë¦½ ë™ì–‘ ë°•ë¬¼ê´€',
                        cooperation: 'ë¬¸í™”ì²´ìœ¡ê´€ê´‘ë¶€, ì™¸êµí†µìƒë¶€, í•œêµ­ ê³µì˜ˆë¬¸í™” ì§„í¥ì›, ì£¼í•œ ì´íƒˆë¦¬ì•„ ëŒ€ì‚¬ê´€',
                        link: '/html/italy/maedeup.html',
                    },
                ]
            each v, i in represents
                .swiper-slide
                    section.represent(class=`${v.class}-0${i+1}`)
                        article.wrap
                            figure.image-box(class=`${v.class}`)
                                img(src=`${v.imgBig}`, alt="")
                            .content-box
                                .mobile
                                    .title= v.mobileTitle
                                .desktop
                                    .title= v.title
                                    .time ê¸°ê°„
                                        span= v.time
                                    .place ì¥ì†Œ
                                        span= v.place
                                    .cooperation 
                                        p í˜‘ë ¥ê¸°ê´€
                                        span= v.cooperation
                                a(href=`${v.link}`)
                                    .more MORE
                                        img(src="/assets/images/icons/arrow.png", alt="")

            .swiper-slide
                include section/index/profile
        .swiper-pagination