extends ../_layout

block main
    section.korea.container
        .wrap
            .title Portfolio 
                span in korea
            ul.gallery
                -
                    var gallerys = [
                        {
                            link: 'aria',
                            img: '/assets/images/korea/gallery/aria.png',
                            titleTop: '이탈리아 음악가와 함께하는',
                            titleBottom: '오페라 아리아와 칸소네',
                        },
                        {
                            link: 'flamenco',
                            img: '/assets/images/korea/gallery/flamenco.png',
                            titleTop: '스페인 최고의 무용수들과',
                            titleMiddle: '함께하는 플라멩고',
                        },
                        {
                            link: 'tango',
                            img: '/assets/images/korea/gallery/tango.png',
                            titleTop: '세계탱고대회 챔피언 초청공연',
                            titleMiddle: '탱고, 더 패션',
                        },
                        {
                            link: 'roma',
                            img: '/assets/images/korea/gallery/roma.png',
                            titleTop: '[로마&서울&로마]',
                            titleMiddle: '이탈리아 나폴리타노 대통령',
                            titleBottom: '한국방문기념 전시회',
                        },
                        {
                            link: 'opera',
                            img: '/assets/images/korea/gallery/opera.png',
                            titleTop: '로마 오페라극장 프로덕션',
                            titleMiddle: '오페라 "아이타" (2007)',
                            titleBottom: '한국 공연 유치 / 음악감독'
                        },
                    ];
                each g in gallerys
                    li
                        figure
                            a(href=`/html/korea/${g.link}.html`)
                                img(src=`${g.img}`, alt="")
                                figcaption= g.titleTop
                                    p= g.titleMiddle
                                    p= g.titleBottom
    footer
        | ⓒ Korean art in europe. All rights reserved.
